/*********** generale ***************/
.titlu{
    margin: auto;
    width: 60%;
    padding: 10px;
    background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%); 
    border: 3px solid;
    text-align: center;
}
.centru {
    margin: auto;
    width: 60%;
    border: 3px solid;
    padding: 10px;
    background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
}
body {
    color: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
    font-size: 1.2em;
    background-image: url("atlas.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}


/*************** meniu ****************/
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/***********   form    ************/
input[type=text], select, textarea, input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=button], input[type=reset] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

button {
    background-color: rgba(128,0,255,0.3);
    width: 50%;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    /*opacity: 0.6;*/
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    word-wrap: break-word;
}

button:hover {background-color: rgba(128,0,255,1)}
